# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
results
app/src/main/configs/*

.classpath
org.eclipse.buildship.core.prefs
org.eclipse.jdt.core.prefs

